html{
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

button{
  padding: 0;
}

body{
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto','sans-serif';
  font-size: 16px;
  line-height: 18px;
}